{% extends 'base.html.twig' %}

{% block title %}Nhomadz - My account{% endblock %}

{% block content %}
    <h1>My account</h1>
    Welcome {{ app.user.firstname }} here's your personal space
{% endblock %}
