{% extends 'base.html.twig' %}

{% block title %}Nhomadz - My account{% endblock %}

{% block content %}
    <h1>My account</h1>
    Welcome {{ app.user.firstname }} here's your personal space
    <hr>
    - <a href="{{ path('account_password') }}"> Change my password</a><br/>
    - <a href="{{ path('account_address') }}">Change my addresses</a><br/>
    - <a href="{{ path('account_order') }}">My orders</a>

{% endblock %}
