{% extends 'base.html.twig' %}

{% block title %}Nhomadz - Change my password{% endblock %}

{% block content %}
    <h1>Change my password</h1>
    <hr>
    - <a href="{{ path('account') }}"> Back to my account</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}
