{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}
{% block content %}

        <!-- Three columns of text below the carousel -->
        <h3>Our best sellers</h3>
        <p>Check our best seller products.</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                     {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Local products <span class="text-muted"></br>It’ll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/pexels-mateusz-turbiński-2607918.jpg') }}" class="img-fluid" alt="Thai expertise">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Thailand design <span class="text-muted"></br>See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/pexels-cottonbro-5602491.jpg') }}" class="img-fluid" alt="Thai expertise">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


{% endblock %}