{% extends 'base.html.twig' %}

{% block title %}Nhomadz - My order{% endblock %}

{% block content %}
    <h2> My order </h2>
    <div class="row">
        <div class="col-md-6">
            <b> Delivery address </b><br/>
            {% set formHtml %}
                {{ form(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
            <b> Chose my delivery </b>
        </div>
        <div class="col-md-6">
            <b> </b><br/>
            <b> </b>
        </div>
    </div>
    


{% endblock %}
