{% extends 'base.html.twig' %}

{% block title %}Nhomadz - Error !{% endblock %}

{% block content %}
    <div class="block-small">
        <h2> An error has occured </h2>
        <p> Sorry, something is broken. Sorry for any inconvenience caused.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Back to home</a>
    </div>
{% endblock %}
 